* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  max-width: none;
}

.landing-main {
  min-height: 100vh;
  padding: 60px 0;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.showcase-title {
  font-size: 28px;
  color: rgb(23, 23, 23);
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.showcase-title:hover {
  opacity: 0.6;
}

.showcase-frame {
  transform-origin: top center;
  border: 10px solid #d2d2d2;
  border-radius: 40px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.09);
}


/* Individual Showcase Scaling */

.statusboard .showcase-frame {
  transform: scale(0.8);
}

.carddemo .showcase-frame {
  transform: scale(0.85);
}

.landingdemo .showcase-frame {
  transform: scale(0.85);
}